<a href="https://colab.research.google.com/github/Umaporn19/DWDM21/blob/main/MiniExam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### ข้อสอบ

จาก data ```flights.csv``` และ ```airports.csv``` ใน https://drive.google.com/drive/folders/1EFo1_uQgWkRiXjezL0T4YwteYrsqU5MV?usp=sharing
0. หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด
1. หารัฐที่มีจำนวนเครื่องบินขาออกมากที่สุดและน้อยที่สุด
2. วาด Histogram แสดงจำนวนเครื่องบินขาออกของแต่ละวันในสัปดาห์
3. สายการบินไหนมีเที่ยวบินมากที่สุดและน้อยที่สุด
4. สายการบินอะไรมีความล่าช้ามากที่สุดและน้อยที่สุด
5. วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

ให้นักศึกษาทำข้อสอบ 2 ข้อจากที่แสดงข้างบนโดยกรอกรหัสนักศึกษาลงใน function ```gen_exams()``` แล้ว run เพื่อให้ได้ข้อสอบที่นักศึกษาต้องทำ 2 ข้อ 

(ข้อละ 3 คะแนน)
และให้นักศึกษาคิดโจทย์เองอีก 1 ข้อ (4 คะแนน)

In [149]:
import pandas as pd #นำข้อมูลเข้าสำหรับข้อมูลลักษณะ ตาราง

In [150]:
from google.colab import drive #เชื่อมต่อ drive
drive.mount('/content/drive') #คลิกลิงค์ -> เลือก E-mail -> ลงชื่อ -> ก็อปโค้ด -> นำกลับมาวาง -> enter

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [151]:
import os  #จัดการไฟล์และ path

In [152]:
flights = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/flights.csv') #ดึงที่อยู่ของ data ที่เราเอาไว้ว่าเอาไว้ในไหน 
flights #ข้อมูลไฟล์ flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [153]:
airports = pd.read_csv('/content/drive/MyDrive/DWDM2021_DATA/Mini Exam/airports.csv') #ดึงที่อยู่ของ data ที่เราเอาไว้ว่าเอาไว้ในไหน 
airports #ข้อมูลไฟล์ airports

     รหัสสนามบิน         เมือง รัฐ                          ชื่อสนามบิน
0          10165   Adak Island  AK                                 Adak
1          10299     Anchorage  AK  Ted Stevens Anchorage International
2          10304         Aniak  AK                        Aniak Airport
3          10754        Barrow  AK      Wiley Post/Will Rogers Memorial
4          10551        Bethel  AK                       Bethel Airport
..           ...           ...  ..                                  ...
360        11233      Cheyenne  WY  Cheyenne Regional/Jerry Olson Field
361        11097          Cody  WY                 Yellowstone Regional
362        11865      Gillette  WY             Gillette Campbell County
363        12441       Jackson  WY                         Jackson Hole
364        14543  Rock Springs  WY       Rock Springs Sweetwater County

[365 rows x 4 columns]

In [154]:
def gen_exams(ID):
    import math
    a = int(ID[-1])%6
    b = int(ID[-1])%3
    print(f'รหัสนักศึกษา {ID} ทำข้อ {a} และ {b if a != b else 5-b}')

#### รหัสนักศึกษา

In [155]:
gen_exams('623020547-0') #รันรหัสนักศึกษาว่าเราจะได้ทำข้อไหน

รหัสนักศึกษา 623020547-0 ทำข้อ 0 และ 5

### ข้อ 0  หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [156]:
data0 = flights.merge(airports,how='left',left_on='รหัสสนามบินปลายทาง',right_on='รหัสสนามบิน') #merge ตารางเข้าด้วยกัน โดยเอา ตาราง flights ไว้ข้างซ้าย ตารางข้อมูล airports ไว้ด้านขวา 
data0

         วันในเดือน  ...                                ชื่อสนามบิน
0                19  ...                        Miami International
1                19  ...              John F. Kennedy International
2                19  ...               Salt Lake City International
3                19  ...                 Detroit Metro Wayne County
4                19  ...                  Los Angeles International
...             ...  ...                                        ...
2702213          19  ...               Salt Lake City International
2702214          19  ...  Louis Armstrong New Orleans International
2702215          19  ...   Hartsfield-Jackson Atlanta International
2702216          19  ...                      Memphis International
2702217          19  ...          Minneapolis-St Paul International

[2702218 rows x 11 columns]

### หารัฐที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

In [157]:
max =  data0.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False) #หารัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด
max.iloc[:1,[3]]

     รหัสสนามบินต้นทาง
รัฐ
CA              380429

### หารัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

In [158]:
min =  data0.groupby('รัฐ').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=True) #หารัฐที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด
min.iloc[:1,[3]]

     รหัสสนามบินต้นทาง
รัฐ
AK                7711

### ข้อ 5. วันธรรมดา หรือวันเสาร์-อาทิตย์มีเครื่องบินขาเข้ามากกว่ากัน (วันจันทร์ = 1, วันอังคาร = 2, ...)

### คิดโจทย์เอง

- เรียกดูตารางข้อมูลของ สายการบิน UA 

- แล้วหาสายการบินมีจำนวนเครื่องบินขาเข้ามากที่สุดและน้อยที่สุด

In [159]:
flights

         วันในเดือน  วันในสัปดาห์  ... ความล่าช้าขาออก  ความล่าช้าขาเข้า
0                19             5  ...              -3                 1
1                19             5  ...               0                -8
2                19             5  ...              -4               -15
3                19             5  ...              28                24
4                19             5  ...              -6               -11
...             ...           ...  ...             ...               ...
2702213          19             6  ...               1                -3
2702214          19             6  ...              -2                -3
2702215          19             6  ...              18                 9
2702216          19             6  ...              10                 7
2702217          19             6  ...               0               -13

[2702218 rows x 7 columns]

In [160]:
data0[data0['สายการบิน'] == 'UA']

         วันในเดือน  วันในสัปดาห์  ... รัฐ                   ชื่อสนามบิน
183780           25             4  ...  CO          Denver International
183781           25             4  ...  CO          Denver International
183782           25             4  ...  NJ  Newark Liberty International
183783           25             4  ...  IL  Chicago O'Hare International
183784           25             4  ...  CA     Los Angeles International
...             ...           ...  ...  ..                           ...
2448977           2             3  ...  MA           Logan International
2448978           2             3  ...  CO          Denver International
2448979           2             3  ...  IL  Chicago O'Hare International
2448980           2             3  ...  CA     Los Angeles International
2448981           2             3  ...  NV        McCarran International

[286418 rows x 11 columns]

### หาสายการบินที่มีจำนวนเครื่องบินขาเข้ามากที่สุด

In [161]:
max =  data0.groupby('สายการบิน').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=False)
max.iloc[:1,[3]]

           รหัสสนามบินปลายทาง
สายการบิน
WN                     575739

### หาสายการบินที่มีจำนวนเครื่องบินขาเข้าน้อยที่สุด

In [162]:
min =  data0.groupby('สายการบิน').count().sort_values(by=['รหัสสนามบินปลายทาง'],ascending=True)
min.iloc[:1,[3]]

           รหัสสนามบินปลายทาง
สายการบิน
HA                      17432